{
    "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "React": true
    },


    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    },

    "plugins": [
      "react"
    ],
}
