/*
  *= require audio_player.css
  *= require_tree.
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 0px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
}

#searchform {
  width: 300px;
}

.search-result {
  position: absolute;
  padding-left: 0px;
  list-style-type: none;
  background-color: white;
  opacity: 0.95;
}

.search-result > a {
  padding: 5px;
  display: block;
  width: 200px;
  border: 1px solid lightgrey;
  color: black;
}

.logo-img {
  max-width: 80%;
  height: auto;
}

#navbar {
  background-color: white;
  opacity: 0.95;
  z-index: 1500;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a {
  height: 60px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: grey;
  transition: all 0.3s;
}

.dropdown-menu {

}

#navbar-closed {
  z-index: -100;
  opacity: 0.01;
  transition: all 0.5s;
}

.albumInfo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-bar-songname {
  position:absolute;
  bottom: 15px;
}

.nav-bar-songname2 {
  position:absolute;
  // font-weight: bold;
  font-size: 10pt;
  top: -23px;
}

.featured-zone {
  position: absolute;
  top: 60%;
  left: 20%;
  z-index: 1000;
  display: inline-flex;
}

.featured-caption {
  color: black;
  background-color: white;
  opacity: 0.8;
  // left: 25%;
  // top: 60%;
  padding-left: 20px;
  height: 100px;
  width: 300px;
  z-index:40;
  position: relative;
}

.featured-play-btn {
  background-color: #149CED;
  opacity: 0.8;
  position: relative;
  width: 150px;
  height: 100px;
  // left: 15%;
  // top: 60%;
  z-index: 50;
  cursor:pointer;
}

.featured-play-img {
  // background-color: white;
  color:white;
  position: absolute;
  width: 100px;
  height: 75px;
  top: 10%;
  left: 15%;
  opacity: 1;
}

.featured-pause-img {
  color:blue;
  // background-color: blue;
  position: absolute;
  width: 60px;
  height: 40px;
  top: 30%;
  left: 30%;
  opacity: 0.7;

}

.top-img {
  margin-left: 20px;
  width: 2%;
  height: auto;
  display:inline;
  cursor:pointer;
}

.discover-bar h3 {
  padding-left: 40px;
  display:inline;
}

.modal-screen {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: fixed;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.front-page-albums {
  float: left;
  display: inline-flex;
  flex-wrap: wrap;
  width: 65%;
  padding-left: 80px;
  padding-top: 10px;
  height: 520px;
  overflow: scroll;
}

.front-page-albums div {
  margin: 3px;
}


.current-album-wrapper {
  float: right;
  position: relative;
  display:inline-block;
  width: 33%;
  // height: 10%;
  // max-height: 500px;
}

.current-album-wrapper:after {
  content: "";
  display: block;
  clear: both;
}


.album-area:after {
  content: "";
  display: block;
  clear: both;
}

.album-area {
  position: relative;
}

.current-album {
  margin: auto;
  background-color: white;
  position: relative;
  margin-top: 15px;
  // margin-right: 80px;
  // margin-bottom: 15px;

  padding: 30px;
  height:80%;
  width:80%;
  // display: inline-block;
  border: 1px solid white;
}

.current-album-img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:auto;
}

.album-link {
  font-weight: bold;
  color: black;
}

.album-index-img {
  flex-basis: 25%;
  height: 200px;
  width: 200px;
  cursor: pointer;
  position: relative;
}

.album-index-img:hover ~ .play-button {
  opacity: 0.7;
}

.play-img {
  position: absolute;
  width: 74px;
  height: 54px;
  transition: width 0s, height 0s;
}

.pause-img {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 40px;
  height: 27px;
  transition: width 0s, height 0s;
}

.play-button:hover {
  opacity: 0.7;
}

.play-button {
  position: absolute;
  width: 74px;
  height: 54px;
  left: 32%;
  top: 35%;
  opacity: 0.01;
  transition: 0.2s;
  background-color: black;
  cursor: pointer;
}

.pause-button {
  position: absolute;
  width: 74px;
  height: 54px;
  left: 32%;
  top: 35%;
  opacity: 0.7;
  transition: 0.2s;
  background-color: black;
  cursor: pointer;
}

.black-button {
  position: absolute;
  left: -50px;
  width: 17px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
}

.black-play-img {
  left: 3px;
  position: relative;
  width: 12px;
  height: 9px;
}

.black-pause-img {
  left: 3px;
  position: relative;
  width: 10px;
  height: 9px;
}

.song-index-item {
  margin-left: 10px;
  padding: 5px;
  position: relative;
}

.song-li {
  display:inline;
  position: absolute;
  left: 0px;
}

.filter-row {
  display: block;
  margin: 0;
  padding-left: 80px;
  height: 40px;
  position: relative;
}

.filter-item {
  display: inline-block;
  color: white;
  margin: 5px 2px 5px 2px;
  background-color: transparent;
  transition: background-color 0.5s;
  border-radius: 15px;
  padding: 6px 10px 6px 10px;
  cursor:pointer;
}

.filter-item:hover {
  background-color: black;
}

.discover {
  // background-color: lightgrey;
  background-color: #EEE;
  padding: 20px 0px 20px 0px;
  height: 830px;
  // overflow: scroll;
}

.selected-filter {
  background-color: black;
  transition: background-color 0.5s;
}

.filter-transition-enter {
  visibility: hidden;
  height: 0px;
}

.filter-transition-enter.filter-transition-enter-active {
  visibility: visible;

  height: 40px;
  /*transition: all 200ms;*/
}

.filter-transition-leave {
  visibility: visible;
  text-indent: 100%;
  height: 40px;
}

.filter-transition-leave.filter-transition-leave-active {
  visibility: hidden;
  height: 0px;
}

.album-transition-appear {
  opacity: 0.01;
  transition: all ease-in 200ms;
}

.album-transition-appear.album-transition-appear-active {
  opacity: 1;
  transition: all ease-in 200ms;
}

.album-transition-enter {
  opacity: 0.01;
  transition: all 600ms;
}

.album-transition-enter.album-transition-enter-active {
  opacity: 1;
  transition: all 600ms;
}

.album-transition-leave {
  opacity: 1;
  // position:relative;
  display:none;
  transition: all 100ms;
}

.album-transition-leave.album-transition-leave-active {
  opacity: 0.01;
  // position: fixed;
  // z-index: -100;
  transition: all 100ms;
}

.album-index-item {
  position: relative;
  margin: 0px;

}

.album-index-item:after {
  content: "";
  display: block;
  clear: both;
}

.album-detail-banner {
  background-position: bottom;
  width: 100%;
  margin: auto;
  height: 200px;
}

.album-detail {
  position: absolute;
  background-color: #EEE;
  // margin-top:60px;
  left: 0;
  width: 100%;
  height: 100%;
}

.album-detail-info {
  background-color: white;
  margin: auto;
  width: 60%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;

}

.album-detail-detail {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.album-detail-img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:auto;
}

.pageSwap-leave {

  transform: translate3d(0, 0, 0);
}

.pageSwap-leave.pageSwap-leave-active {

  transform: translate3d(-100%, 0, 0);
  transition: all ease-out 600ms;
}

.pageSwap-enter {
  position: absolute;
  background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
}

.pageSwap-enter.pageSwap-enter-active {
  position: absolute;
  background-color: #EEE;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 600ms;

}

.reversePageSwap-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  transform: translate3d(0, 0, 0);
}

.reversePageSwap-leave.reversePageSwap-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all ease-out 600ms;
}

.reversePageSwap-enter {
  transform: translate3d(-100%, 0, 0);
}

.reversePageSwap-enter.reversePageSwap-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all ease-out 600ms;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.selected {
  font-weight: bold;
}

.dropdown .dropdown-menu#login-dropdown {
  margin-right: 4px;
  border: none;
  padding: 8 0 0 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  border: 1px solid #909090;

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown.open .dropdown-menu#login-dropdown {
  max-height: 250px;
  opacity: 1;
}

.dropdown .dropdown-menu#signup-dropdown {
  margin-right: 4px;
  border: none;
  padding: 8 0 0 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  border: 1px solid #909090;

  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

.dropdown.open .dropdown-menu#signup-dropdown {
  max-height: 280px;
  opacity: 1;
}

.login-form > * {
  padding: 5px;
}

.flash-error {
  position: relative;
  font-size: 14px;
  color: red;
}
