/*
  *= require audio_player.css
  *= require_tree.
*/
@import "bootstrap-sprockets";
@import "bootstrap";

// .navbar {
//   height: 60px;
//   padding-top: 5px;
//   transition: height 0.5s;
// }

.navbar-disappear {
  height: 0px;
}

body {
  margin-top: 0px;
}

#navbar {
  background-color: white;
  opacity: 0.7;
  // height: 100px;
}

.weekly {
  background-image: url(http://res.cloudinary.com/dzqfe9334/image/upload/v1450813093/0006428130_0_h0wikv.jpg);
  position:relative;
  height: 800px;
  background-size:100%;
  background-repeat: no-repeat;
  background-position: 70%;
}



.modal-screen {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: fixed;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.front-page-albums {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 70%;
}

.front-page-albums div {
  margin: 10px;
}

.current-album {
  background-color: white;
  opacity: 0.7;
  float: right;
  position: fixed;
  margin-top: 160px;
  top: 30px;
  right: 30px;
  padding: 30px;
  z-index: 1001;
  display: inline-block;
  border: 1px solid white;
}

.current-album-img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.album-index-img {
  flex-basis: 25%;
  max-width: 90%;
  height: auto;
  width: auto;
  cursor: pointer;
  position: relative;
}

.album-index-img:hover ~ .play-button {
  opacity: 0.7;
}

.play-img {
  position: absolute;
  width: 74px;
  height: 54px;
  transition: width 0s, height 0s;
}

.pause-img {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 40px;
  height: 27px;
  transition: width 0s, height 0s;
}

.play-button:hover {
  opacity: 0.7;
}

.play-button {
  position: absolute;
  width: 74px;
  height: 54px;
  left: 28%;
  top: 25%;
  opacity: 0.01;
  transition: 0.2s;
  background-color: black;
  cursor: pointer;
}

.pause-button {
  position: absolute;
  width: 74px;
  height: 54px;
  left: 28%;
  top: 25%;
  opacity: 0.7;
  transition: 0.2s;
  background-color: black;
  cursor: pointer;
}

.black-button {
  width: 17px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
}

.black-play-img {
  left: 3px;
  position: relative;
  width: 14px;
  height: 9px;
}

.black-pause-img {
  left: 3px;
  position: relative;
  width: 10px;
  height: 9px;
}

.song-index-item {
  padding: 5px;
}

.song-li {
  display:inline;
  position:relative;
}

.filter-row {
  display: block;
  margin: 0;
  height: 40px;
}

.filter-item {
  display: inline-block;
  color: white;
  margin: 5px 2px 5px 2px;
  background-color: transparent;
  transition: background-color 0.5s;
  border-radius: 15px;
  padding: 6px 10px 6px 10px;
  cursor:pointer;
}

.filter-item:hover {
  background-color: black;
}

.discover {
  background-color: #EEE;
  height: 720px;
}

.selected-filter {
  background-color: black;
}

.filter-transition-enter {
  visibility: hidden;
  height: 0px;
}

.filter-transition-enter.filter-transition-enter-active {
  visibility: visible;

  height: 40px;
  /*transition: all 200ms;*/
}

.filter-transition-leave {
  visibility: visible;
  text-indent: 100%;
  height: 40px;
}

.filter-transition-leave.filter-transition-leave-active {
  visibility: hidden;
  height: 0px;
}

.album-transition-appear {
  opacity: 0.01;
  transition: all 600ms;
}

.album-transition-appear.album-transition-appear-active {
  opacity: 1;
  transition: all 600ms;
}

.album-transition-enter {
  opacity: 0.01;
  transition: all 600ms;
}

.album-transition-enter.album-transition-enter-active {
  opacity: 1;
  transition: all 600ms;
}

.album-transition-leave {
  opacity: 1;
  transition: all 600ms;
}

.album-transition-leave.album-transition-leave-active {
  opacity: 0.01;
  transition: all 600ms;
}


.album-detail {
  position: absolute;
  // top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000px;
}

.pageSwap-leave {
  transform: translate3d(0, 0, 0);
}

.pageSwap-leave.pageSwap-leave-active {
  transform: translate3d(-100%, 0, 0);
  transition: all 600ms;
}

.pageSwap-enter {
  transform: translate3d(100%, 0, 0);
}

.pageSwap-enter.pageSwap-enter-active {
  // background-color: red;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;

}

.reversePageSwap-leave {
  transform: translate3d(0, 0, 0);
}

.reversePageSwap-leave.reversePageSwap-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all 600ms;
}

.reversePageSwap-enter {
  transform: translate3d(-100%, 0, 0);
}

.reversePageSwap-enter.reversePageSwap-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.selected {
  font-weight: bold;
}
