#audioplayer{
	display: inline;
	width: 280px;
	height: 60px;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
    cursor:pointer;
		margin-left: 50px;
}

.play{background: url('http://www.alexkatz.me/codepen/images/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/images/pause.png') ;}

#timeline{
	width: 300px;
	height: 10px;
	margin-top: 28px;
  margin-left: 5px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);

}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: -4px;
	background: rgba(0, 0, 0,1);

}

#audioplayer2{
	width: 280px;
	height: 60px;
	margin: 50px auto auto auto;
  border: 1px solid lightgrey;
}

#pButton2{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
    border-right: 1px solid lightgrey;
    cursor:pointer;
}

#timeline2{
	position: relative;
	width: 200px;
	height: 20px;
	margin-top: 28px;
  margin-left: 5px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);

}
#playhead2{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}
